 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/e98f9cc9/5394736/images/BRADYPROJECTS.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1620px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1023px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }
}