 .u-section-1 {
  background-image: url("images/BlankBGD.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 43px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: url("images/BlankBGD.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 43px auto 0 44px;
}

.u-section-2 .u-gallery-1 {
  height: 500px;
  grid-gap: 17px 17px;
  width: 1051px;
  margin: 44px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 473px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-2 .u-gallery-1 {
    height: 446px;
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1228px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1409px;
    width: 720px;
    margin-top: 1px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 957px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1061px;
    width: 540px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 655px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-2 .u-gallery-1 {
    height: 674px;
    width: 340px;
    margin-top: 30px;
  }
} .u-section-3 {
  background-image: url("images/BlankBGD.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 841px;
}

.u-section-3 .u-image-1 {
  width: 495px;
  height: 665px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  width: 361px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 457px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("images/BlankBGD.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 713px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 43px auto 0 44px;
}

.u-section-4 .u-gallery-1 {
  height: 500px;
  grid-gap: 17px 17px;
  width: 1051px;
  margin: 44px auto 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 473px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-4 .u-gallery-1 {
    height: 446px;
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1228px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1409px;
    width: 720px;
    margin-top: 1px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 957px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1061px;
    width: 540px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 655px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-4 .u-gallery-1 {
    height: 674px;
    width: 340px;
    margin-top: 30px;
  }
} .u-section-5 {
  background-image: url("images/BlankBGD.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 10px auto 0 90px;
}

.u-section-5 .u-image-1 {
  width: 495px;
  height: 495px;
  margin: -51px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  width: 361px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 907px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 695px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 521px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}