.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 650px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-1 .u-text-1 {
  margin: 20px 32px 0 0;
}

.u-section-1 .u-image-1 {
  height: 324px;
  width: 448px;
  margin: 16px 648px 0 16px;
}

.u-section-1 .u-metadata-1 {
  margin: 20px 16px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
    width: 320px;
    margin-right: 0;
  }
}